#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: grid;
}

.photograph-header article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 46px;
}
.photographer__profil__name {
    font-size: 50px;
    font-weight: lighter;
    color: #d3593C;
    margin: 0;
}

.photographer__profil__city{
    margin: 2px 0 9px 0;
    color: #901C1C;
}

.photographer__profil__tagline{
    margin: 0;
}

.photographer__profil__img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#trier {
    margin: 25px 100px;
  }

.trier__texte {
    font-weight: bold;
}

select {
    background-color: #901C1C;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    padding: 0 5px;
    width: 150px;
}

option {
    border-top: 1px solid #ffffff;
    background-color: #901C1C;
    
}



.photograph__photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 40px 100px 100px 100px;
}


.photo__post{
    width: auto;
    position: relative;
}

.photo__img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.photo__infos{
    display: flex;
    justify-content: space-between;
}

.photo__title{
    margin: 0;
    color: #901C1C;
    
}

.photo__likes{
    display: flex;
    align-items: center;
    color: #901C1C;
    
}

.photo__like{
    margin: 0;
    margin-right: 5px;
}



.profil__likes__tarif{
    display: flex;
    position: fixed;
    align-items: center;
    height: 50px;
    bottom: 0;
    right: 40px;
    background-color: #DB8876;
    border-radius: 10px 10px 0 0;

    padding: 0 10px 0 10px;
}

#photographer__infos__likes{
    margin-right: 5px;
}

.photographer__price{
    margin-left: 20px;
}

.photographer__total__like{
    display: flex;
}








/******** Ligthbox */

#lightbox{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(172, 172, 172, 0.625);
    display: none;
    background-color: #ffffff;
}

.contenu__lightbox{
    /*border: solid 2px #DB8876;*/
    border-radius: 5px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
    position: relative;
    
}

.photo__titre__lightbox{
    margin: auto;
}

.close__lightbox{
    position: absolute;
    top: 0;
    right: 0;
    color: #901C1C;
    font-size: -webkit-xxx-large;
    margin: 21px 30px 0 0;
}

.fleche{
    color: #901C1C;
    font-size: -webkit-xxx-large;
}

#contenu__photo__lightbox img{
    max-height: 500px;
    max-width: 800px;
    object-fit: cover;
}

#contenu__photo__lightbox video{
    max-height: 500px;
    max-width: 800px;
    object-fit: cover;
}

#title__photo__lightbox{
    color: #901C1C;
    margin-top: 10px;
    font-size: larger;
}









/********** COntatc Modal */

#contact_modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(139, 139, 139, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


